

.container {
    display: flex;
    background-color: #5c946e;
    border-radius: 10px;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .containerContact {
    background-color: #F3F4F6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: #000;
  }
  
  .description {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #000;
  }
  
  .contactForm {
    margin-bottom: 2rem;
  }
  
  .inputGroup {
    margin-bottom: 1.5rem;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #000;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #000;
  }
  
  .textarea {
    height: 150px;
    resize: vertical;
  }
  
  .submitButton {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #17A100;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #138b00;
  }
  
  .contactInfo, .socialMedia {
    text-align: center;
    margin-bottom: 2rem;
    color: #000;
  }
  
  .subtitle {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000;
  }
  
  .link {
    color: #17A100;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .socialList {
    list-style-type: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .socialList li {
    display: inline;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .successContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .successMessage {
    font-size: 1.5rem;
    color: #000;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .homeButton {
    padding: 1rem 2rem;
    background-color: #17A100;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .homeButton:hover {
    background-color: #138b00;
  }
  