.container {
  display: flex;
  background-color: #5c946e;
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.formContainer {
  background-color: #F3F4F6;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.inputGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #000;
  max-width: 400px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
}

.submitButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #8b5e3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #734c31;
}

.divider {
  margin: 20px 0;
  display: flex;
  color: #000;
  align-items: center;
  text-align: center;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.socialLogin {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.googleButton img,
.facebookButton img {
  width: 40px;
  height: 40px;
}

.registerLink {
  margin-top: 20px;
  font-size: 14px;
  color: #000;
  text-align: center;
}

.link {
  color: #8b5e3c;
  font-weight: 600;
}
.link:hover {
  color: #734c31;
  text-decoration: underline;
}

.error {
  color: #000 !important;
  font-weight: 500 !important;
  text-align: center !important;
  margin-top: 15px !important;
  font-size: 1rem !important;
}

.errorRed {
  color: red !important;
  font-weight: 500 !important;
  text-align: center !important;
  margin-top: 15px !important;
  font-size: 1rem !important;
}

.loginLink{
  margin-top: 20px;
  font-size: 14px;
  color: #000;
  text-align: center;
}

.winnerMessage {
  color: #000;
  margin-top: 10px;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid white;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.authMessage{
  margin-top: 10px;
  background-color: #F3F4F6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.forgotPassword {
  text-align: right;
  margin-bottom: 20px;
}

.forgotPassword a {
  color: #8b5e3c;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.forgotPassword a:hover {
  text-decoration: underline;
}

.success {
  color: #000 !important;
  font-weight: 600 !important;
  text-align: center;
  margin-top: 15px !important;
  font-size: 1rem !important;
}

.passwordContainer {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.passwordRequirements {
  color: #000 !important;
  margin-top: 10px;
  font-size: 14px;
}

.socialLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.facebookButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1877F2;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.facebookButton img {
  width: 40px;
  height: 40px;
}