.instructions {
    background-color: #5c946e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 30%;
  }
  
  .instructions h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .instructions ol, .instructions p {
    margin: 0;
  }
  