.container {
  display: flex;
  background-color: #5c946e;
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.privacyContainer {
  background-color: #F3F4F6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 2rem;
}

.text-black {
  color: #000;
}

.h1, .h2 {
  margin-bottom: 15px;
}

.ul {
  margin-top: 10px;
}

.p, .ul {
  margin-bottom: 15px;
  line-height: 1.6;
}
