.container {
  display: flex;
  background-color: #5c946e;
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
  
  .formContainer {
  background-color: #F3F4F6;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}
  
  .title {
    color: #000  !important;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .inputGroup {
    margin-bottom: 20px;
  }
  
  .label {
    color: #000  !important;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background-color: #8b5e3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #734c31;
  }
  
  .successMessage, .errorMessage {
    color: #000  !important;
    margin-top: 10px;
    text-align: center;
  }
  
  .successMessage {
    color: green;
  }
  
  .errorMessage {
    color: red;
  }
  
  .passwordContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .eyeIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
  }
  